/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #1D6154;
    --main-bg-color:#f2f2f2;
    --filter-bg-color: #deebff;
    --beige-color:#F8F5EE; 
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    background-color: var(--beige-color);
    width: 100%;
    margin:0px;
    padding: 0px;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  /*header*/
  
  .barre-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #333;
    z-index: 1000;
    background-color: #faebd7;
  }

  .mon-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
  }
  
  .liens {
    display: flex;
    height: 79px;
    align-items: center;
  }
  
  .sizelien1 {
    width: 113px;
    height: 35px;
  }

  .sizelien1 a {
    font-weight: bold; 
    font-size: 20px;
    color: #1D6154;
  }
  
  .sizelien2 {
    width: 63px;
    height: 35px;
  }
  
  .barre-navigation .bordure {
    border: 1px solid transparent;
    transition: border-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .bordure:hover {
    border-top-color: black;
  }

  .bordure1 {
    border-radius: 25px;
    border: 2px solid #1D6154; 
  }

  .contact-modal a {
    color: #1D6154; 
    text-decoration: none; 
    font-weight: bold; 
    display: block;
    text-align: center;
    padding: 5px 15px;
    border-radius: 25px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
  /*body*/
  
  .main-container {
    box-sizing: border-box;
    gap: 35px;
    padding-top: 130px;
  }
  
  /****introduction****/

  #introduction {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .introduction {
    background-image: url('./Images/introduction1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white;
    
  }
  
  .introduction h1 {
    margin: 0;
    font-size: 3rem;
  }

  .introduction h2 {
    margin: 20px 0;
    font-size: 2rem;
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .social-link {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color:white
  }

 .social-link:hover {
  transform: scale(1.1);
 }

 .linkedin i, .portfolio i, .github i {
  margin-right: 10px; 
  font-size: 1.5rem; 
 }

 .linkedin {
  background-color: #0077b5; 
 }

 .portfolio1 {
  background-color: #333; 
  gap:15px;
 }

 .github {
  background-color: #333; 
 }

  /****about****/

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0px 0px 30px;
 }
  
  #about .title-about {
    width:100%;
    color: coral;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
  }

  #about .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #about figure {
      flex: 1
  }

  #about img {
      display: block;
      margin: auto;
      width: 40%;
  }

  #about article {
      flex: 1;
      margin-top: 50px;
  }

  article {
    margin-left: 20px;
  }

  #about h3 {
      font-family: 'Syne';
      font-weight: 700;
      font-size: 30px;
      color: #1D6154
  }

  #about p {
      margin-bottom: 0.7em;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      width: 75%;
  }
  
  .btn-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1D6154;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-cv:hover {
    background-color: #ff7f50;
  }
  /****** Portfolio ***********/

  .portfolio-title {
    text-align: center;
    margin-bottom: 35px;
  }

  .portfolio-title h4 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top:20px;
  }
  
  .portfolio {
    background-color: #FFDDC1;
    border-radius: 15px;
    margin: 80px auto 50px auto;
    width: 90%;
  }
  
  .container-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .portfolio .card-main {
    flex: 1 1 calc(33.333%); 
    max-width: calc(33.333%);
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .card-main img {
    width: 90%; 
    max-width: 300px;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
   
  }
  
  .card-main:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
  }
  
/* modale */
  .modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: #FFDDC1;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
    max-height:90%;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }

  .button-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  /* css pour afficher la modale lorsqu'elle est ciblée par une ancre */
  #modal-booki:target,
  #modal-qwenta:target,
  #modal-kasa:target,
  #modal-sophie-bluel:target,
  #modal-nina-carducci:target,
  #modal-grimoire:target  {
    display: flex; 
  }

  .title-principal-modal {
    font-size: 2.5rem; 
    font-weight: bold;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .box-modal {
    align-items: center;
    background-color: #FECDAA ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-modal {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
    margin: 20px;
    padding-top: 10px;
    text-align: center;
    background-color:  #faebd7;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(213, 226, 255, .671);
  }

  .card-modal img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
  }

  .card-modal .title-modal {
    align-content: center;
    color: black;
    font-family: Poppins, sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 500;
    padding-left: 10px;
    width:50%;
  }

  .box-modal img { 
    width: 700px;
    padding-bottom: 10px;
    height: 700px;
  }

  .box-modal .card-modal .text-modal {
    align-content: center;    
    color: black;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin: 1em 0;
    text-align: center;
  }

  .box-modal .card-modal .logos {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .box-modal .card-modal .logos img {
    width: 90px;
    height: auto;
    margin: 0 10px;
  }

  .box-modal .projet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*footer*/
  
  .footer {
    background-color: #faebd7;
    text-align: center;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text-footer {
    font-size: 18px;
    color: #333;
  }
  
  .contact {
    font-size: 16px;
    color: #333;
  }
  
  .contact a {
    color: #1D6154;
    text-decoration: none;
  }
  
  .contact a:hover {
    color: #ff7f50;
  }
  
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
   
    /*header*/
    .barre-navigation {
      width: 95%;
    }
  
  
    /*body*/
  
    .main-container {
      width: 100%;
      box-sizing: border-box;
      flex-direction: column;
    }
   
    /****** Portfolio ***********/
    .portfolio {
  
      flex-direction: column;
    }
  
    .portfolio section {
      background-color: var(--main-bg-color);
      border-radius: 20px;
      padding: 30px;
      box-sizing: border-box;
    }
  
    /*herbergements*/
    .hebergements {
      width: 97%;
      margin: 0;
    }
    .hebergements-title h3 {
      margin-top: 20px;
      padding: 0px 0px 0px 30px;
    }
  
    .container-img {
      gap: 25px;
      margin: 0px 0px 20px 0px;
    }
  
    /*footer*/
  
    .footer {
      width: 95%;
      margin-top: 50px;
    }
  
    .footer-section {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  
    .footer-section ul {
      width:80%;
      margin: 0;
    }
  
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    /****** General ***********/
    .body {
      width: 90%;
    }
  
    .card {
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
  
    .card-title {
      font-size: 16px;
    }
  
    .main-container {
      gap: 35px;
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      justify-content: center;
    }
  
    /*header*/
  
    .barre-navigation {
      flex-direction: column;
      padding-left: 4%;
    }
  
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  
    .liens {
      width: 95%;
      height: 60px;
    }
  
    .barre-navigation .bordure {
      width: 100%;
      border: 2px solid transparent;
      transition: border-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
  
    .bordure:hover {
      border-bottom-color: #0065fc;
      color: #0065fc;
    }
  
    /*herbergements and populaires*/
  
    .portfolio {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;
    }

    .portfolio {
      width: 100%;
      order: 2;
      margin: 0;
      gap: 15px;
      display: flex;
      flex-wrap: wrap;
    }
  
    .portfolio h3 {
      font-size: 20px;
      padding-left: 15px;
      display: flex;
      margin-bottom: 20px;
    }
  
    .container-img {
      margin-top: -20px; 
      width:100%; 
      display: flex;
      justify-content: center;
    }
  
    .portfolio .card-main {
      width: 89%;
      gap: 4px;
    }
  
    .card-main img {
      width: 98%;
      justify-content: center;
    }
  
    /*footer*/
  
    .footer {
      display: flex;
      flex-direction: column;
      width: 97%;
      gap: 30px;
      margin-left: 1.5%;
    }
  
     .footer-section {
      padding-left: 20px;
      width: 90%;
     }
  
     .footer h3 {
      padding: 0;
     }
  
    .footer-section ul {
      margin: 0;
      padding: 0;
      width: 90%;
    }
  
  }
  
  /*Large devices (Desktop, more than 1440px)*/
  @media screen and (min-width: 1440px) {
   
    .mon-avatar{
      width: 80px;
      height: 80px;
    }

    #about .content {
      margin: 50px;
    }

    .container-img {
      flex-wrap: nowrap;
      justify-content: space-between; 
    }
  
    .portfolio .card-main {
      flex: 1 1 auto;
      max-width: none; 
      margin-bottom: 0;
    }
  }
    
  