/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #1D6154;
    --main-bg-color:#f2f2f2;
    --filter-bg-color: #deebff;
    --beige-color:#F8F5EE; 
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    background-color: white;
    width: 100%;
    margin:0px;
    padding: 0px;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  /*header*/
  
  .barre-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #333;
    z-index: 1000;
    background-color: #595775;
  }

  .mon-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
  }

  .burger-icon {
    display:none;
  }
  
  .burger-toggle {
    display: none;
  }
  
  .liens {
    display: flex;
    height: 79px;
    justify-content: space-around;
    align-items: center;
  }
  
  .sizelien1 {
    width: 130px;
    height: 35px;
  }

  .sizelien1 a {
    font-weight: bold; 
    font-size: 20px;
    color: #ABA6BF;
  }
  
  .sizelien2 {
    width: 63px;
    height: 35px;
  }
  
  .barre-navigation .bordure {
    border: 1px solid transparent;
    transition: border-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .bordure:hover {
    border-top-color: white;
  }

  .bordure1 {
    border-radius: 25px;
    border: 2px solid #f2f2f2; 
  }

  .contact-modal a {
    color: #ABA6BF; 
    text-decoration: none; 
    font-weight: bold; 
    display: block;
    text-align: center;
    padding: 5px 15px;
    border-radius: 25px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
  /*body*/
  
  .main-container {
    box-sizing: border-box;
    gap: 35px;
    padding-top: 130px;
  }
  
  /****introduction****/

  #introduction {
    position: relative;
    width: 100%;
    height: 800px;
  }

  .introduction {
    background-image: url('./Images/introduction1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white;
  }
  
  .introduction h1 {
    margin: 0;
    font-size: 3rem;
  }

  .introduction h2 {
    margin: 20px 0;
    font-size: 2rem;
    color:white;
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .social-link {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color:white
  }

 .social-link:hover {
  transform: scale(1.1);
 }

 .linkedin i, .portfolio i, .github i {
  margin-right: 10px; 
  font-size: 1.5rem; 
 }

 .linkedin {
  background-color: #0077b5; 
 }

 .portfolio1 {
  background-color: #595775; 
  gap:15px;
 }

 .github {
  background-color: #333; 
 }

  /****about****/

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
 }
  
  h2 {
    width:100%;
    color: #595775;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 150px;
  }

  #about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #595775;
  }

  #about figure {
      flex: 1
  }

  #about img {
      display: block;
      margin: auto;
      width: 60%;
  }

  #about article {
      flex: 1;
  }


  #about h3 {
      font-family: 'Syne';
      font-weight: 700;
      font-size: 30px;
      color: #ABA6BF;
  }

  #about p {
      margin-bottom: 0.7em;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      width: 90%;
      color: white;
  }
  
  .btn-cv {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ABA6BF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  

  .skills {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 150px;
  }

  .skills-title h2{
    margin: 150px 0;
  }

  .skills img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  /****** Portfolio ***********/

  .portfolio-title {
    text-align: center;
    margin-bottom: 35px;
  }

  .portfolio-title h4 {
    font-size: 40px;
    font-weight: 600;
    padding: 30px 0;
    color: #ABA6BF;
  }
  
  .portfolio {
    background-color: #595775;
    border-radius: 15px;
    margin: 80px auto 50px auto;
    width: 90%;
  }
  
  .container-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .portfolio .card-main {
    flex: 1 1 calc(33.333%); 
    max-width: calc(33.333%);
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .card-main img {
    width: 100%; 
    max-width: 300px;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
   
  }
  
  .card-main:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
  }
  
/* modale */
  .modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: #BF988F;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
    overflow-y: auto;
    width: 75%;
    max-height:90%;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }

  .button-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  /* css pour afficher la modale lorsqu'elle est ciblée par une ancre */
  #modal-booki:target,
  #modal-qwenta:target,
  #modal-kasa:target,
  #modal-sophie-bluel:target,
  #modal-nina-carducci:target,
  #modal-grimoire:target  {
    display: flex; 
  }

  h2.title-principal-modal  {
    font-size: 3rem; 
    font-weight: bold;
    color: #BF988F; 
    text-align: center; 
    margin-bottom: 20px; 
    margin-top: 20px;
  }
  
  .box-modal {
    align-items: center;
    background-color: #F1E0D6 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-modal {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(213, 226, 255, .671);
  }

  .card-modal img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
  }

  .card-modal .title-modal {
    align-content: center;
    color: #BF988F;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
  }

  .box-modal img { 
    width: 70%;
    padding-bottom: 10px;
    object-fit: cover;
    border-radius: 25px;
  }

  .box-modal .card-modal .text-modal {
    align-content: center;    
    color: black;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin: 1em 0;
    text-align: center;
  }

  .box-modal .card-modal .logos {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .box-modal .card-modal .logos img {
    height: 60px;
    margin: 0 10px;
    border-radius: 0;
    width: 100%;
  }

  .box-modal .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-modal .image-scroll-container {
    max-height: 400px; 
    overflow-y: auto;  
    border: 1px solid #F1E0D6; 
  }
  
  .picture-modal {
    width: 100%; 
    height: auto;
  }

  .github-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-github {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BF988F; 
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }


  /*footer*/
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #595775;
  }
  
  .text-footer {
    font-size: 18px;
    color: #ABA6BF;
  }
  
  .contact {
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  
  .contact a {
    color: #333;
    text-decoration: none;
  }
  
  .contact a:hover {
    color: #ff7f50;
  }
  
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
   
  
    /*body*/
  
    .main-container {
      width: 100%;
      box-sizing: border-box;
      flex-direction: column;
    }
   
    .competences {
      margin-top: 0;
    }
    
    #about .content {
      padding-bottom: 50px;
      
    }
    /****** Portfolio ***********/
    .portfolio {
  
      flex-direction: column;
    }
  
    .portfolio section {
      background-color: var(--main-bg-color);
      border-radius: 20px;
      padding: 30px;
      box-sizing: border-box;
    }
  
    /*herbergements*/
    .hebergements {
      width: 97%;
      margin: 0;
    }
    .hebergements-title h3 {
      margin-top: 20px;
      padding: 0px 0px 0px 30px;
    }
  
    .container-img {
      gap: 25px;
      margin: 0px 0px 20px 0px;
    }
  
    /*footer*/
  
    .footer {
      width: 95%;
      margin-top: 50px;
    }
  
    .footer-section {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  
    .footer-section ul {
      width:80%;
      margin: 0;
    }
  
  }
  
  /* Small devices (phones, less than 768px) */
  @media screen and (max-width: 767.98px) {
    /****** General ***********/

    .main-container {
      padding: 0;
    }

    /*header*/
  
    .burger-icon {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
    }

    .burger-icon svg {
      fill: #333;
      width: 50px;
      height: 40px;
    }
    
    .liens {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      background-color: #F1E0D6;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .burger-toggle {
      display: none;
    }

    .burger-toggle:checked ~ .liens {
      display: flex;
    }

    .liens {
      height: auto;
      margin-top: 80px;
      margin-right:40px
    }

    .liens a {
      color: black;
      text-decoration: none;
      padding: 10px 0;
      display: block;
    }

    .sizelien1 a {
      font-weight:200;
      font-size:medium;
    }

    .bordure1 {
      border: none;
    }

    /*introduction*/

    #introduction {
      height: 500px;
      margin-bottom: 50px;
    }

    .introduction h1 {
      font-size: 2rem;
      margin-top: 80px;
    }

    .introduction h2 {
      font-size: 1.5rem;
    }

    .social-links {
      justify-content: center;
    }

    /*about*/

    #about {
      margin: 0;
    }

    #about .content {
      flex-direction: column;
      width: 80%;

    }

    #about img {
      width: 20%;
    }

    h2 {
      margin: 0;
      font-size: 2rem;
    }

    #about article {
      text-align: center;
    }

    #about p {
      width: 100%;
      padding: 10px;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 80px;
    }

    .skills-title h2 {
      margin: 100px 0;
    }

    .skills img {
      width: 70px;
      height: 70px;
    }
  
  
    /*portfolio*/
  
    .portfolio {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .portfolio-title h4 {
      margin: 0;
      font-size: 2rem;
    }  
  
    .portfolio .card-main {
      flex: none; 
      max-width: 100%;
    }
  
    .container-img {
      padding: 0;
    }

    .modal-content {
      width: 95%;
    }

    h2.title-principal-modal {
      font-size: 2rem;
    }

    .box-modal img {
      width: 90%;
    }

    .card-modal .title-modal {
      font-size: 1.1rem;
    }

    .card-modal {
      width: 90%;
    }

    .box-modal .card-modal .text-modal {
      font-size: 14px;
    }

    .box-modal .card-modal .to-top {
      right: 110px;
      width: 40px;
      height: 40px;
    }

   */
    /*footer*/
  
    .footer {
      display: flex;
      flex-direction: column;
      width: 97%;
      gap: 30px;
      margin-left: 1.5%;
    }
  
     .footer-section {
      padding-left: 20px;
      width: 90%;
     }
  
     .footer h3 {
      padding: 0;
     }
  
    .footer-section ul {
      margin: 0;
      padding: 0;
      width: 90%;
    }
  
    .text-footer{
      text-align: center;
    }
  }
  
  /*Large devices (Desktop, more than 1440px)*/
  @media screen and (min-width: 1440px) {

   
    .mon-avatar{
      width: 80px;
      height: 80px;
    }

  /*about*/

    #about img {
      width: 40%;
    }

    .btn-cv {
      margin-bottom: 20px;
    }


    .container-img {
      flex-wrap: nowrap;
      justify-content: space-between; 
    }
  /*portfolio*/

    .portfolio .card-main {
      flex: 1 1 auto;
      max-width: none; 
      margin-bottom: 0;
    }

    .modal-content {
      width: 80%;
    }

    h2 .title-principal-modal {
      font-size : 4rem;
    }

    .box-modal img {
      width: 40%;
    }
  }
    
  